<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Agregando página para usar iconos -->
    <script src="https://kit.fontawesome.com/c323f9c180.js" crossorigin="anonymous"></script>
    <!-- Agregando ícono -->
    <link rel="shortcut icon" href="./images/favicon.ico">
    <!-- Agregando estilo -->
    <link rel="stylesheet" href="./css/style.css">
    <title>Dh Music Store</title>
</head>
<body class="body-home">
    <header class="header-home">
        <div class="top-bar">
            <a class="hamburger-button" href="#">
                <i class="fas fa-bars"></i>
            </a>
            <a class="logo-link" href="/"><img class="top-bar_logo" src="./images/logo.svg" alt="Logo"></a>
            <div class="seeker">
                <input class="seeker_input" type="text">
                <div class="magnifying">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                
            </div>
            <div class="login-menu">
                <ul class="login-menu_list">
                    <li>Ingresar</li>
                    <li>Registrarse</li>
                    <li><i class="far fa-user"></i></li>
                </ul>
            </div>
            <div class="basket">
                <i class="fas fa-shopping-basket"></i>
            </div>
        </div>
        <nav class="nav-bar">
            <ul class="nav-bar_list">
                <li>Guitarras</li>
                <li>Bajos</li>
                <li>Percuisón</li>
                <li>Cuerdas frotadas</li>
                <li>Micrófonos</li>
            </ul>
        </nav>
    </header>

    <main class="main-home">
        <h2 class="best-seller">Lo más vendido</h2>
        <div class="article-box">
            <a class="article-link" href="product-detail">
            <img class="article-box_img" src="./images/guitarra1.jpeg" alt="article">
            <div class="article-box_description">
                <h3 class="article-title">
                    Guitarra de prueba # 1
                </h3>
                <div class="article-price">
                    <p class="article-price_sale">
                        650.000 cop
                    </p>
                    <p class="article-price_original">
                        800.000 cop
                    </p>
                </div>
                <p class="article-state">
                    Disponible
                </p>
            </div>
            </a>
        </div>


        <div class="article-box">
            <img class="article-box_img" src="./images/guitarra1.jpeg" alt="article">
            <div class="article-box_description">
                <h3 class="article-title">
                    Guitarra de prueba # 1
                </h3>
                <div class="article-price">
                    <p class="article-price_sale">
                        200.000 cop
                    </p>
                    <p class="article-price_original">
                        250.000 cop
                    </p>
                </div>
                <p class="article-state">
                    Disponible
                </p>
            </div>
        </div>

        <div class="article-box">
            <img class="article-box_img" src="./images/guitarra1.jpeg" alt="article">
            <div class="article-box_description">
                <h3 class="article-title">
                    Guitarra de prueba # 1
                </h3>
                <div class="article-price">
                    <p class="article-price_sale">
                        200.000 cop
                    </p>
                    <p class="article-price_original">
                        250.000 cop
                    </p>
                </div>
                <p class="article-state">
                    Disponible
                </p>
            </div>
        </div>


        <div class="article-box">
            <img class="article-box_img" src="./images/guitarra2.jpeg" alt="article">
            <div class="article-box_description">
                <h3 class="article-title">
                    Guitarra de prueba # 2
                </h3>
                <div class="article-price">
                    <p class="article-price_sale">
                        280.000 cop
                    </p>
                    <p class="article-price_original">
                        300.000 cop
                    </p>
                </div>
                <p class="article-state">
                    Disponible
                </p>
            </div>
        </div>

        <div class="article-box">
            <img class="article-box_img" src="./images/guitarra3.jpeg" alt="article">
            <div class="article-box_description">
                <h3 class="article-title">
                    Guitarra de prueba # 3
                </h3>
                <div class="article-price">
                    <p class="article-price_sale">
                        280.000 cop
                    </p>
                    <p class="article-price_original">
                        300.000 cop
                    </p>
                </div>
                <p class="article-state">
                    Disponible
                </p>
            </div>
        </div>

        <h2 class="best-seller">Mejores promociones</h2>

        <div class="article-box">
            <img class="article-box_img" src="./images/guitarra1.jpeg" alt="article">
            <div class="article-box_description">
                <h3 class="article-title">
                    Guitarra de prueba # 1
                </h3>
                <div class="article-price">
                    <p class="article-price_sale">
                        200.000 cop
                    </p>
                    <p class="article-price_original">
                        250.000 cop
                    </p>
                </div>
                <p class="article-state">
                    Disponible
                </p>
            </div>
        </div>

        <div class="article-box">
            <img class="article-box_img" src="./images/guitarra2.jpeg" alt="article">
            <div class="article-box_description">
                <h3 class="article-title">
                    Guitarra de prueba # 2
                </h3>
                <div class="article-price">
                    <p class="article-price_sale">
                        280.000 cop
                    </p>
                    <p class="article-price_original">
                        300.000 cop
                    </p>
                </div>
                <p class="article-state">
                    Disponible
                </p>
            </div>
        </div>


        <h2 class="best-seller">Nuestras marcas</h2>
    </main>

    <footer class="footer-home">
        <ul class="footer_main-info">
            <li>Envíos a nivel nacional</li>
            <li>Chatea con nosotros <br>WhatsApp: 0000000000</li>
            <li>Compras protegidas</li>
        </ul>
        <hr class="separator">
        <ul class="footer_secondary-info">
            <li>Categorías populares</li>
            <hr class="vertical-separator">
            <li><ul class="footer_extra-info-menu">
                <li>Formas de pago</li>
                <li>Nuestra tienda</li>
                <li>Garantía</li>
            </ul></li>
            <hr class="vertical-separator">
            <li><form class="form-news" action="" methos="POST">
                <label for="news">Inscribirse al boletín de noticias</label>
                <input type="text" placeholder="Tu email" name="email" id="news">
                <input class="submit-button" type="submit" value="Inscribirse">
            </form>
            </li>
        </ul>
    </footer>

</body>
</html>