<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del producto</title>
    <link rel="stylesheet" href="./css/styleProductDetail.css">
</head>
<body>
    <header>
        <h1>Barra del home</h1>
    </header>
    <section class ="imagenes">
        <img class ="imagen-principal" src="./images/Guitarra1.jpeg" alt="">
        <img class ="imagen-secundaria" src="./images/guitarra2.jpeg" alt="">
        <img class ="imagen-secundaria" src="./images/guitarra3.jpeg" alt="">
    </section>
    <section class ="detalles">
        <h2>Guitarra</h2>
        <h3>$650.000</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit reiciendis alias impedit accusantium repellat officia! Minus perferendis velit quas cumque voluptatibus libero dolore, ducimus eius veritatis, nam, distinctio quidem nihil!</p>
        <button>Añadir al carrito</button>
        <h4>cantidad</h4>
        <input type="number">
    </section>
</body>
</html>