*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body-home {
    background-color: #a2a2a2;
}

/*Header ---------------------------------------------------------------------------------*/

.header-home {
    background-color: #f6f6f7;
    padding: 10px;
    border-bottom: solid black 2px;
}

.top-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top-bar_logo {
    width: 30vw;
    height: auto;
    margin: auto;
}

.seeker {
    order: 3;
    width: 90vw;
    height: 1.5rem;
    margin-top: 15px;
}
.seeker_input {
    width: 90%;
    border-radius: 4px;
    box-shadow: 3px 3px #0044aa;
    border-color: #0044aa;
    height: 100%;
}

.magnifying {
    display: inline-block;
    height: 100%;
    color: #0044aa;
}

.login-menu_list {
    list-style: none;   
    display: none;
    justify-content: space-around;
}

.nav-bar {
    display: none;
}

.hamburger-button i {
    color: #0044aa;
    font-size: 10vw;
    margin-left: 15px;
}

.fa-shopping-basket {
    color: #0044aa;
    font-size: 10vw;
    margin-right: 15px;
}

@media (min-width: 500px) {

    .nav-bar_list {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        list-style: none;
        font-size: 2vw;
    }
    .nav-bar {
        display: block;
        margin-top: 5px;
    }

    .nav-bar_list > li {
        border: solid #0044aa 2px;
        border-radius: 30%;
        width: 18%;
        box-shadow: 3px 3px #0044aa;
        text-align: center;
    }

    .hamburger-button {
        display: none;
    }

    .top-bar_logo {
        width: 15vw;
    }

    .fa-shopping-basket {
        font-size: 2.5rem;
        align-self: center;
    }

    .top-bar_logo {
        margin: 0;
    }

    .seeker {
        display: flex;
        width: 35vw;
        order: 0;
        height: 2rem;
        margin: auto;
    }

    .magnifying {
        height: 100%;
        background-color: #0044aa;
        border-radius: 5px;
        box-shadow: 3px 3px #0044aa;
    }

    .seeker_input {
        height: 100%;
        padding: 0;
        margin: 0;
        font-size: 100%;
    }
    .magnifying i {
        margin-top: 2px;
        font-size: 2rem;
        color:#ebebeb
    }

    .login-menu{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 30vw;
    }

    .login-menu_list {
        color: #0044aa;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 25vw;
        font-size: 2.5vw;
        align-items: center;
    }

    .basket {
        display: flex;
        flex-wrap: wrap;
        width: 8vw;
        align-items: center;
    }
    .fa-shopping-basket {
        font-size: 4vw;
    }
}

@media (min-width: 950px) {

    .top-bar_logo {
        width: 10vw;
    }
    .fa-shopping-basket {
        font-size: 2vw;
    }

    .login-menu_list {
        font-size: 1.5vw;
    }

    .login-menu_list i {
        font-size:  2vw;
    }

    .nav-bar_list {
        font-size: 1.2vw;
    }

}

.main-home {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 85vw;
    height: 100vw;
    background-color: #ebebeb;
    border-left: solid black 2px;
    border-right: solid black 2px;

}