<!DOCTYPE html>
<html lang="en">
<!--Head-->
<head>
    <%- include("partials/head") %>
    <title>INGRESAR</title>
    
</head>
<body class="body-login">
    <!--Header-->
    <%- include("partials/header") %>
    <div class="todo-login">
    <!--<img class="imagen-login" src="./images/instru.png" alt="instrumentos">-->
    <form class="formulario-login" action="https://formsubmit.co/santiagoq2326@gmail.com" method="post">
        <h2 class="ingresar-login"><b>Ingresar</b></h2><br>
        <label for="usuario">Usuario:</label>
        <input class="relleno-login" type="email" name="usuario" id="usuario" placeholder="Ingrese su email" required>
        <label for="contraseña">Contraseña:</label>
        <input class="relleno-login" type="password" name="password" id="contraseña" placeholder="Ingrese su contraseña" required>
        <label for="tyc">
            <input type="checkbox" id="tyc" required>
            ¿Aceptas terminos y condiciones?
        </label>
        <input class=" boton-enviarlogin" type="submit" >
        <input class=" boton-enviarlogin" type="reset">
        <a class="olvide-login" href="pruebaHola.html" target="_blank">Olvide mi contraseña</a>
        <input class="boton-enviarlogin" type="button" value="Crear cuenta">     

    </form>
    </div>
</body>
</html>