<footer class="footer-home">
    <ul class="footer_main-info">
        <li>Envíos a nivel nacional</li>
        <li>Chatea con nosotros <br>WhatsApp: 0000000000</li>
        <li>Compras protegidas</li>
    </ul>
    <hr class="separator">
    <ul class="footer_secondary-info">
        <li>Categorías populares</li>
        <hr class="vertical-separator">
        <li><ul class="footer_extra-info-menu">
            <li>Formas de pago</li>
            <li>Nuestra tienda</li>
            <li>Garantía</li>
        </ul></li>
        <hr class="vertical-separator">
        <li><form class="form-news" action="" methos="POST">
            <label for="news">Inscribirse al boletín de noticias</label>
            <input type="text" placeholder="Tu email" name="email" id="news">
            <input class="submit-button" type="submit" value="Inscribirse">
        </form>
        </li>
    </ul>
</footer>